@import "tailwindcss";
@plugin "daisyui";

@tailwind utilities;

html {
  scroll-behavior: auto;
}

/* Hide scrollbar globally */
body {
  overflow-y: scroll;      /* keeps scrolling */
  scrollbar-width: none;    /* Firefox */
}

body::-webkit-scrollbar {
  display: none;            /* Chrome, Safari, Edge */
}